extends layout.pug

block content
  .container
    h1 À propos de moi
    p Je suis
      strong Jean DUPONT
      | ,
      strong développeur web
      |  passionné basé en France.
    p J’ai plusieurs années d’expérience dans la création de
      strong sites internet modernes
      | , performants et adaptés aux besoins des
      strong artisans
      | ,
      strong commerçants
      |  et
      strong indépendants
      | .
    p Mon objectif est de
      strong transformer vos idées
      |  en projets concrets et fonctionnels, tout en respectant vos envies et votre budget.

block scripts
  //- Pas de script spécifique à cette page
